<div class="sign_up_form">

  <%= form_for @user, :html => {:multipart => true} do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %>
              prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
<div class="users-form-wrap">
      <fieldset>
        <legend>Please Enter Your Details</legend>

        <div class="field">
          <%= f.label :name %>

          <%= f.text_field :name, :size => 40 %>
        </div>

        <div class="field">
          <%= f.label :email %>

          <%= f.text_field :email, :size => 40 %>
        </div>

        <div class="field">
          <%= f.label :password, 'Password' %>

          <%= f.password_field :password, :size => 40 %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, 'Please confirm your password' %>

          <%= f.password_field :password_confirmation, :size => 40 %>
        </div>

        <div class="field">
          <%= image_tag @user.avatar_url(:thumb).to_s if @user.avatar? %>  <br/>
          <%= f.label :avatar, 'Add a profile picture' %>

          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
          <label>Remove Avatar</label>
          <%= f.check_box :remove_avatar %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
          </fieldset>
  <% end %>
  </div><!--end form wrap-->
</div>