<%= form_for @user, :html => {:multipart => true} do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %>
            prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, :size => 40,  :placeholder => "Please enter your name" %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, :size => 40,  :placeholder => "example@email.com" %>
      </div>

      <div class="field">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, :size => 40, :placeholder => "Enter Password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Confirm Password' %>
        <%= f.password_field :password_confirmation, :size => 40, :placeholder => "Confirm Password" %>
      </div>

      <div class="field">
        <%= f.label :avatar, 'Add a profile picture' %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </div>
      <div class="remove-field">
        <%= f.label :remover_avatar, 'Remove Avatar'%>
        <%= f.check_box :remove_avatar %>
        <%= image_tag @user.avatar_url(:thumb).to_s if @user.avatar? %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    </fieldset>
<% end %>
