<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<div class="user-middle-wrap">

  <div class="user-profile">
    <div class="user-avatar">
      <%= image_tag (@user.avatar_url(:thumb).to_s) %>
    </div>
    <!--End user-avatar-->

    <div class="user-details">
      <h1><%= @user.name %></h1>

      <p><%= @user.email %></p>

    </div>
    <!--End user-details-->

    <div class="user-edit">
      <%= link_to 'Edit', edit_user_path(@user) %>
    </div>
    <!--End user-edit-->
  </div>
  <!--End user-profile-->

  <div class="user-orders">
    <h3 class="user-section-titles">Your Orders</h3>
  </div>
  <!--End user recommendations-->


  <div class="user-recommendations">
    <h3 class="user-section-titles">Your Recommendations</h3>
  </div>
  <!--End user recommendations-->

  <div class="user-reviews-partial">
    <h3 class="user-section-titles">Your Reviews</h3>

    <p>Here is a list of products you have reviewed</p>
    <% @user.reviews.each do |user_review| %>
        <div class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <%= image_tag (user_review.product.productimage_url(:thumb).to_s) %>
          <h5><%= user_review.product.title %></h5>
          <p><%= user_review.body %></p>
        </div>
        <!--end review body-->
    <% end %>
  </div>
  <!--End user reviews partial-->

</div><!--End user-middle-wrap-->

<div class="user-right-side">
  <% if admin? %>
      <div class="admin-right">

      </div>
      <!--End admin right-->
  <% else %>
      <div class="user-cart-partial">
        <h4 class="user-section-titles">Your Cart</h4>
       <%= hidden_div_if(@cart.line_items.empty?, :id => 'cart') do %>
        <%= render @cart %>
      <% end %>
      </div>
      <!--End user cart partial-->

      <div class="user-wishlist-partial">
        <h4 class="user-section-titles">Your Wishlist</h4>
        <%= render @wishlist %>
      </div>
      <!--end user wishlist partial-->

  <% end %>

</div> <!--End user-right-side-->