<div class="welcome-tagline">
  <h2>Street Heart campaign in association with Focus Ireland.</h2>

  <h2>Helping Ireland’s homeless. #wecanchangethis</h2>
</div>

<div class="welcome-navigation">
  <ul>
    <li><%= link_to "Home", home_path %></li>
    <li><a href=="#">About</a></li>
    <li><a href=="#">Artists</a></li>
    <li><%= link_to "Products", store_path %></li>
    <li><a href=="#">Gallery</a></li>
  </ul>
</div>

<div class="welcome-tshirts">
  <%= image_tag("Welcome_Tshirt_1.jpg") %>
  <%= image_tag("Welcome_Tshirt_2.jpg") %>
  <%= image_tag("Welcome_Tshirt_3.jpg") %>
</div>

<div class="welcome-footer">

  <div class="welcome-statement">
    <p>This Christmas 1 in 7 people living on Ireland’s streets will be children.<br/>Buy a t-shirt, we give the money
      to
      Focus Ireland to help them make a difference,<br/>
      help us spread the word...<br/>thats it. </p>
  </div>

<div class="welcome-focus-logo">
    <%= image_tag("Welcome_Focus_Logo.jpg") %>
  </div>
</div>