<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @tag.name %>
</p>

<p>
  <b>Product:</b>
  <%= @tag.product_id %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
