<%= form_for @gallery, :html => {:multipart => true} do |f| %>
    <% if @gallery.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

          <ul>
            <% @gallery.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="gallery-uploader">
      <div class="field"><%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
      <div class="actions">
        <%= f.submit "Add your photo" %>
      </div>
    </div><!--end gallery uploader-->



<% end %>
