<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @gallery.user_id %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @gallery.image_url(:thumb).to_s %>
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
