<div class="middle-wrap">
  <h1 class="page-titles"><%= @category.title %></h1>
  <% @category.products.each do |cat_product| %>

      <div class="entry">
      <%= image_tag (cat_product.productimage_url(:store_img).to_s), :id => "cat_product#{cat_product.id}" %>

      <h4><%= link_to cat_product.title, cat_product %></h4>

      <div class="price_line">
        <span class="unit_price"><%= number_to_currency(cat_product.unit_price) %></span>
      </div>
      <!--End price line-->

      <div class="product-view-actions">
        <%= button_to 'Add to cart', line_items_path(:product_id => cat_product), :class => "btns" %>
        <%= button_to 'Add to Wishlist', wishlist_items_path(:product_id => cat_product), :class => "btns" %>
      </div>
      <!--End product-view-actions-->

      </div>
      <!--End entry-->

  <% end %>

  </div><!--end middle wrap-->

  <div class="right-side">
    <div class="partial">
      <%= render :partial => 'products/recent_products' %>
    </div>
  </div>
  <!--end right-side-->

  <% if admin? %>
      <%= link_to 'Edit', edit_category_path(@category) %> |
      <%= link_to 'Back', categories_path %>
  <% end %>
