<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1 class="page-titles">Products</h1>

<div id="product_list">

  <table>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
    <% @products.each do |product| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

          <td>
            <%= image_tag (product.productimage_url(:thumb).to_s), :class => 'list_image' %>
          </td>
          <td><%= product.title %></td>
          <td class="list_description">
            <dl>

              <dd><%= truncate(strip_tags(product.description),
                               :length => 80) %></dd>
            </dl>
          </td>
          <td><%= product.unit_price %></td>
          <% if admin? %>
              <td class="list_actions">
                <%= link_to 'Show', product %>
                <br/>
                <%= link_to 'Edit', edit_product_path(product) %>
                <br/>
                <%= link_to 'Destroy', product,
                            :confirm => 'Are you sure?',
                            :method => :delete %>
              </td>
          <% end %>
        </tr>

    <% end %>
  </table>

  <% if admin? %>
      <%= link_to 'New Product', new_product_path %>
  <% end %>
</div>