<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>
<div class="single-product-wrap">

  <div class="single-product-img">
    <%= image_tag @product.productimage_url.to_s %>
  </div>
  <!--End single page img-->

  <div class="single-product-title">
    <h1><%= @product.title %></h1>
  </div>
  <!--End single page title-->

  <div class="single-product-price">
    <p>

    <h2><%= @product.unit_price %></h2></p>
  </div>
  <!--End single page price-->

  <div class="single-product-description">
    <p><%= @product.description %></p>
  </div>
  <!--End single page description-->
  <div class="add-btn">
    <%= button_to 'Add to cart' %>
  </div>
  <!--End add-btn-->

  <% if admin? %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
  <% end %>

  <div class="product-reviews">
      <h3 class="page-titles">Customer Reviews</h3>
      <%= render @product.reviews %>
    </div>
    <!--End single-review-wrap-->

    <div class="review-forw-wrap">
      <h3 class="page-titles">Add a review for this product</h3>
      <%= render 'reviews/form' %>
    </div>
    <!--End review-form-wrap-->
  </div>
  <!--End single page reviews-->

</div><!--End single page wrap-->