<div class="single-product-wrap">

  <div class="single-product-img">
    <%= image_tag @product.productimage_url(:large_img).to_s %>
  </div>
  <!--End single page img-->

  <div class="single-product-title">
    <h1><%= @product.title %></h1>
  </div>
  <!--End single page title-->

  <div class="single-product-price">
    <p>

    <h2><%= number_to_currency(@product.unit_price) %></h2></p>
  </div>
  <!--End single page price-->

  <div class="single-product-description">
    <p><%= sanitize(@product.description) %></p>
  </div>
  <!--End single page description-->

  <div class="single-product-keywords">
    <p class="tags">Tags: <%= @product.tags.collect { |t| t.name }.join(", ") %></p>
  </div>
  <!--End single-product-keywords-->

  <div class="add-btn">
    <%= button_to 'Add to cart', line_items_path(:product_id => @product), :class => 'single-product-btn' %>
    <%= button_to 'Add to Wishlist', wishlist_items_path(:product_id => @product), :class => 'single-product-btn' %>
  </div>
  <!--End add-btn-->

  <% if admin? %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
  <% end %>
</div><!--End single page wrap-->

<div class="reviews">
  <div class="product-reviews">
    <h3 class="page-titles">Read Customer Reviews for this product</h3>
    <%= render @product.reviews %>

  </div>
  <!--End single-review-wrap-->

  <div class="product-reviews-form">

    <%= render 'reviews/form' %>
  </div>
  <!--End product-reviews-form-->
</div><!-- end reviews-->
