<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<p>
  <b> title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>productImage</b>
  <%= image_tag @product.productimage_url(:store_img).to_s %>
</p>


<p>
  <b>Unit price:</b>
  <%= @product.unit_price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
