<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<p>
  <b> Title:</b><br />
  <%= @product.title %>
</p>

<p>
  <b>Description:</b><br />
  <%= @product.description %>
</p>

<p>
  <b>Product Image</b><br />
  <%= image_tag @product.productimage_url(:thumb).to_s %>
</p>


<p>
  <b>Unit Price:</b><br />
  <%= @product.unit_price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
