<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<div class="single-product-wrap">

  <div class="single-product-img">
    <%= image_tag @product.productimage_url.to_s %>
  </div>
  <!--End single page img-->

  <div class="single-product-title">
    <h1><%= @product.title %></h1>
  </div>
  <!--End single page title-->

  <div class="single-product-price">
    <p>

    <h2><%= number_to_currency(@product.unit_price) %></h2></p>
  </div>
  <!--End single page price-->

  <div class="single-product-description">
    <p><%= @product.description %></p>
  </div>

  <!--End single page description-->
  <div class="add-btn">
    <%= button_to 'Add to cart' %>
    <%= button_to 'Add to Wishlist', wishlist_items_path(:product_id => @product) %>
  </div>
  <!--End add-btn-->

  <% if admin? %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
  <% end %>
</div><!--End single page wrap-->

<div class="reviews">
  <div class="product-reviews">
    <h3 class="page-titles">Read Customer Reviews for this product</h3>
    <%= render @product.reviews %>

  </div>
  <!--End single-review-wrap-->

  <div class="product-reviews-form">
    <h3 class="page-titles">Add a review for this product</h3>
    <p>If you have already purchased this item and would like to leave your review, then please fill out the form below.</p>
    <%= render 'reviews/form' %>
  </div><!--End product-reviews-form-->
 </div><!-- end reviews-->



<div class="product_list">
  <h2 class="page-titles">Recommended Products</h2>
  <div class="recommendations">

    <% #draw recommendations for this product
       @products.each do |product| %>
        <div class="recommended_product <%= cycle('list_line_odd', 'list_line_even') %>">
          <%= image_tag (product.productimage_url(:thumb).to_s), :class => 'list_image' %><br />
          <span><%= product.title %></span><br />
          <span><%= product.unit_price %></span>
         </div>

    <% end %>
  </div>
</div> <!--End products_list-->