<h3 class="user-section-titles">Your Reviews</h3>

<p>Here is a list of products you have reviewed</p>

<table class="admin-tables">
  <% @user.reviews.each do |review| %>
      <tr>
        <th>Image</th>
        <th>Date</th>
        <th>Title</th>
        <th>Review</th>
      </tr>

      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= image_tag (review.product.productimage_url(:small_thumb).to_s) %></td>
        <td><%= time_ago_in_words(review.created_at) %> ago.</td>
        <td><%= review.product.title %></td>
        <td><%= review.body %></td>
      </tr>

  <% end %>
</table>