<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @review.name %>
</p>

<p>
  <b>Product:</b>
  <%= @review.product_id %>
</p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
