<% if line_item == @current_item %>
    <div id="current_item"></div>
<% else %>

<div class="<%= cycle('list_line_odd', 'list_line_even') %> cart-row-items">

<% end %>

<div class="cart-image">
  <%= image_tag (line_item.product.productimage_url(:thumb).to_s) %>
</div><!--End Cart Image-->

<div class="cart-product-title">
  <h3><%= line_item.product.title %></h3>
</div><!--end cart title-->

<div class="cart-quantity">
  <p>&times;<%= line_item.quantity %></p>
</div><!--End cart quantity-->

<div class="item_price">
  <%= number_to_currency(line_item.total_price) %>
</div><!--end item-price-->

</div><!--end cart-row-->
