<!DOCTYPE html>
<html>
<head>
  <title>Street Heart Project</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "Street_Heart_Styles", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
<div class="page-wrap">
  <div class="header">
          <%= render 'layouts/siteLogin' %>


<div class="welcome-title">
  <%= image_tag("Street_Art_Title_Welcome.jpg") %>
</div>
<div class="welcome-tagline">
  <h1>Street Heart campaign in association with Focus Ireland.</h1>

  <h1>Helping Ireland’s homeless. <%= link_to "#wecanchangethis", "https://twitter.com/#!/FocusIreland" %></h1>
</div>
<!--end logo area-->