  <div class="site-login">
    <% if logged_in? %>
        <ul>
          <li>Hello <%= current_user.name %></li>
          <li><%= link_to "Your Profile", :controller => "users", :action => "your_profile" %></li>
          <li><%= link_to "Your Wishlist", :controller => "wishlist", :action => "show" %></li>
          <li><%= link_to "Your Cart", :controller => "cart", :action => "show" %></li>
          <li><%= link_to "Logout", :controller => "sessions", :action => :destroy %></li>

        </ul>
    <% else %>
        <ul>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Register", new_user_path %></li>
        </ul>
    <% end %>
  </div>
  <!--end site login-->

</div><!--End Header-->