<% if logged_in? && admin? %>
    <%= render 'layouts/adminSide' %>
<% else %>

    <div class="side-nav">
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Focus Ireland", "http://www.focusireland.ie/" %></li>
        <li><%= link_to "Galleries", galleries_path %></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <h3><%= link_to "Categories", store_path %></h3>

        <ul>
          <% @categories.each do |category| %>
         <li><%= link_to category.title, category %></li>

          <% end %>
        </ul>
    </div><!--End Side-->
<% end %>