<% if logged_in? && admin? %>
    <%= render 'layouts/adminSide' %>
<% else %>

    <div class="side-nav">
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Categories", store_path %></li>
        <li><%= link_to "T-shirts", "http://localhost:3000/categories/1"%></li>
        <li><%= link_to "Hoodies", "http://localhost:3000/categories/2"%></li>
        <li><%= link_to "Aprons", "http://localhost:3000/categories/5"%></li>
        <li><%= link_to "Mugs", "http://localhost:3000/categories/6"%></li>
        <li><%= link_to "Bags", "http://localhost:3000/categories/7"%></li>
        <li><%= link_to "Posters", "http://localhost:3000/categories/8"%></li>
        <li><%= link_to "Laptop Skins", "http://localhost:3000/categories/3"%></li>
        <li><%= link_to "Smart Phone Skins", "http://localhost:3000/categories/4"%></li>
        <li><%= link_to "Focus Ireland", "http://www.focusireland.ie/" %></li>
        <li><%= link_to "Galleries", galleries_path %></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!--End Side-->
<% end %>