<%= render 'layouts/header' %>

<div class="horizon-bar">
  <div class="social-media-links">
    <%= link_to "Twitter", "https://twitter.com/#!/StreetHeart2011" %>
    <p>Tweets Go Here?</p>
  </div>
  <!--end social_media_links-->

  <%= render 'layouts/search' %>
</div>
<!--End Horizon bar-->

<div class="side">

  <%= render 'layouts/storeSidebar' %>

  <div class="welcome-focus-logo">
    <%= image_tag("Welcome_Focus_Logo.jpg") %>
  </div>
  <!-- end welcome-focus-logo-->
</div>
<!--end side-->

<div class="main">
  <% if notice %>
      <p class="notice"><%= notice %></p>
  <% end %>
  <%= yield %>
</div>
<!-- End Main-->
</div><!-- End Page Wrap-->
<%= render 'layouts/footer' %>