<!DOCTYPE html>
<html>
<head>
  <title>Street Heart Project</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= link_to "Register with Street Heart", new_user_path %> |
	<div id="header">
		<% if logged_in? %>
			<%= current_user.email %> |
			<%= link_to "Logout", logout_path %> |
		<% else %>
			<%= link_to "Login", login_path %> |
		<% end %>
	</div><!--End Header-->


<%= yield %>

</body>
</html>
