<%= render 'layouts/header' %>

<!DOCTYPE html>
<html>
<head>
<title>Street Heart</title>
<%= stylesheet_link_tag "scaffold" %>
<%= stylesheet_link_tag "Street_Heart_Styles" %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>

<body id ="store">
<div id="banner">
  <%= image_tag("Street_Art_Title_Welcome.jpg") %>
</div>
<div id="columns">
  <%= render @cart %>
</div>



<div class="header">

  <div class="social-media-links">
    <%= link_to "Twitter", "https://twitter.com/#!/StreetHeart2011" %>

    <%= link_to "facebook", "http://www.facebook.com/StreetHeartCampaign" %>

  </div>
  <!--end social_media_links-->

  <div class="site-login">
    <% if logged_in? %>
        <ul>
          <li>Hello <%= current_user.name %></li>
          <li><%= link_to "Your Profile", :controller => "users", :action => "your_profile" %></li>
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
    <% else %>
        <ul>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Register", new_user_path %></li>
        </ul>
    <% end %>
  </div>
  <!--end site login-->

</div><!--End Header-->

<div class="welcome-title">

</div><!--end logo area-->


<%= render 'layouts/storeSidebar' %>

<!-- Cart Sidebar-->

 <div id="cart">
    <%= render @cart %>
</div>


<div class="side">
  <%= render 'layouts/storeSidebar' %>
  <div class="welcome-focus-logo">
    <%= image_tag("Welcome_Focus_Logo.jpg") %>
  </div>
</div>


<div class="main">
  <%= yield %>
</div><!-- End Main-->

<%= render 'layouts/footer' %>
</body>
</html>
